version: '3'
services:
  bot:
    build: 
      context: ../
      dockerfile: ./Docker/bot/Dockerfile
    environment:
      - TZ=Europe/Moscow
    image: bot
    container_name: bot
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: always
    ports:
      - "8443:8443"
    depends_on:
      - mongodb
      - redis
    networks:
      - patrebna-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  parser:
    build: 
      context: ../
      dockerfile: ./Docker/parser/Dockerfile
    environment:
      - TZ=Europe/Moscow
    image: parser
    container_name: parser
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: always
    ports:
      - "3001:3001"
    depends_on:
      - mongodb
      - redis
    networks:
      - patrebna-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  api:
    build:
      context: ../
      dockerfile: ./Docker/api/Dockerfile
    environment:
      - TZ=Europe/Moscow  
    image: api
    container_name: api
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: always
    ports:
      - "443:3000"
    depends_on:
      - mongodb
    networks:
      - patrebna-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    cap_add:
      - NET_ADMIN
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    command: >
      mongod
      --tlsMode requireTLS
      --tlsCertificateKeyFile /etc/ssl/mongodb.pem
      --tlsCAFile /etc/ssl/ca.pem
      --auth
      --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - ./data/db:/data/db
      - ../certs/mongodb/mongodb.pem:/etc/ssl/mongodb.pem
      - ../certs/ca.pem:/etc/ssl/ca.pem
      - ../certs/mongo-keyfile:/etc/ssl/mongo-keyfile
    networks:
      - patrebna-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ../certs/ca.pem:/etc/ssl/ca.pem
      - ../certs/redis:/etc/ssl/redis
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: >
      bash -c "
      chmod 644 /etc/ssl/redis/redis-key.pem /etc/ssl/redis/redis-cert.pem /etc/ssl/ca.pem &&
      chown redis:redis /etc/ssl/redis/redis-key.pem /etc/ssl/redis/redis-cert.pem /etc/ssl/ca.pem &&
      redis-server
      --tls-port 6379
      --port 0
      --tls-cert-file /etc/ssl/redis/redis-cert.pem
      --tls-key-file /etc/ssl/redis/redis-key.pem
      --tls-ca-cert-file /etc/ssl/ca.pem
      --tls-auth-clients yes
      --requirepass $REDIS_PASSWORD"
    networks:
      - patrebna-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
networks:
  patrebna-network:
    driver: bridge
